
.light {
    background-color: #fff;
    color: #333;
  }
  
  .dark {
    background-color: #333;
    color: #fff;
  }
  

  .dark button {
    background-color: #555;
  }
  

  .light button {
    background-color: #007bff;
  }
  
